.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .add-button {
    text-align: center;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    /* background: rgb(14, 92, 49); */
    margin-bottom: 2em;
    flex: 0 1 24%;
  }

  body {
      background-color: #CDCDC0;
  }

  #cards {
    background-color: #CDCDC0;
  }