.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .add-button {
    text-align: center;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    margin-bottom: 2em;
    flex: 0 1 24%;
  }

  body {
      background-color: #CDCDC0;
    }

  #cards {
    background-color: rgb(80, 80, 47);
  }



#outer-div {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

#info-div {
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20%;
}

#img-div {
    width: 63%;
}

