@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700&display=swap');

#logo-head {
  font-family: 'Tangerine', cursive;
  letter-spacing: 15px;
}

nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 2.5em;
    box-sizing: border-box;
    list-style-type: none;
  }

  